<% content_for :title, "Showing ingredient" %>

<div class="md:w-2/3 w-full mb-4">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-yellow-50 mb-5 text-yellow-950 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">Showing ingredient</h1>

  <%= render @ingredient %>

  <%= link_to "Edit this ingredient", edit_ingredient_path(@ingredient), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-yellow-200 hover:bg-orange-200 inline-block font-medium" %>
  <%= link_to "Back to ingredients", ingredients_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-yellow-200 hover:bg-orange-200 inline-block font-medium" %>
  <%= button_to "Destroy this ingredient", @ingredient, method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2", class: "w-full rounded-md px-3.5 py-2.5 text-white bg-red-900 hover:bg-red-200 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
</div>

<div class="max-w-2xl mx-auto bg-orange-950/60 shadow rounded-lg overflow-hidden">
  <% if @ingredient.photo.attached? %>
    <%= image_tag @ingredient.photo, class: "w-full h-64 object-cover" %>
  <% end %>
  
  <div class="p-6">
    <h1 class="text-3xl font-bold mb-2"><%= @ingredient.name %></h1>
    <p class="text-yellow-950 mb-4"><%= @ingredient.category %></p>
    
    <div class="mb-6">
      <h2 class="font-bold text-yellow-950 uppercase text-xs tracking-wider mb-2">Description</h2>
      <p class="text-yellow-950"><%= @ingredient.description %></p>
    </div>

    <div class="flex space-x-1">
      <%= link_to 'Edit', edit_ingredient_path(@ingredient), class: "bg-yellow-600 text-white px-4 py-2 rounded" %>
      <%= link_to 'Back', ingredients_path, class: "text-lime-900 py-2 font-bold" %>
    </div>
  </div>
</div>